* {
  transition-behavior: allow-discrete;
}
::highlight(matched-search) {
  background-color: yellow;
}

::highlight(matched-search-current) {
  background-color: orange;
}

::highlight(context-menu-selection) {
  background-color: rgb(157, 204, 255);
}

[data-mantine-color-scheme="dark"] ::highlight(matched-search) {
  background-color: rgb(109, 109, 6);
}

[data-mantine-color-scheme="dark"] ::highlight(matched-search-current) {
  background-color: rgb(190, 120, 20);
}

[data-mantine-color-scheme="dark"] ::highlight(context-menu-selection) {
  background-color: rgb(54, 116, 196);
  text-shadow:
    0 1px 0 rgb(54, 116, 196),
    0 -1px 0 rgb(54, 116, 196);
}
body {
  line-height: 1.7;
  background-color: var(--mantine-color-body);
}

.lint-error {
  cursor: help;
}
