body:not(.source-mode) {
  .verse-number,
  [data-marker="v"] {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0 2px;
  }

  [data-token-type="marker"],
  [data-token-type="endMarker"] {
    /* display: inline-block; */
    align-items: center;
    color: var(--color-blue-700);
  }

  [data-usfm-type="para"] {
    margin: 0.25em 0;
  }
  .chapter-number,
  [data-marker="c"],
  [data-marker="c"] + [data-token-type="numberRange"] {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0;
    font-family: var(--font-serif);
    /* user-select: none; */
  }
  .chapter-label,
  [data-marker="cl"],
  [data-marker="cl"] + [data-token-type="text"] {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0;
    font-family: var(--font-serif);
  }

  [data-show="true"] {
    visibility: visible;
    pointer-events: auto;
  }
  [data-is-mutable="false"] {
    opacity: 0.5 !important;
    /* pointer-events: none; */
  }
  [data-show="false"] {
    /* display: none; */
    opacity: 0 !important;
    /* visibility: hidden; */
    /* position: absolute; */
    /* pointer-events: none; */
  }
  /* [data-show="false"].isCharMarker,
  [data-show="false"].isCharCloseMarker {
    width: 0;
    display: inline-block;
    line-height: 0;
  } */
  [data-show="true"][data-token-type="marker"],
  [data-show="true"][data-token-type="endMarker"] {
    width: auto;
    display: inline;
    line-height: inherit;
  }

  :where(
    [data-marker="q"],
    [data-in-para="q"],
    [data-marker="q1"],
    [data-in-para="q1"],
    [data-marker="q2"],
    [data-in-para="q2"],
    [data-marker="q3"],
    [data-in-para="q3"],
    [data-marker="q4"],
    [data-in-para="q4"]
  ) {
    font-style: italic;
  }
  /* [data-marker="b"] {
    display: block !important;
  } */
  [data-marker="b"][data-show="false"] {
    opacity: 0 !important;
    /* pointer-events: none !important; */
  }

  [data-marker-view-state="never"] [data-marker] + br,
  [data-marker-view-state="never"] [data-marker] {
    display: none !important;
  }

  /* .isParaMarker:has(+ [data-marker]) {
    display: block;
    width: max-content;
  } */
}

.lint-error {
  background: var(--color-red-800);
  padding: 1px;
  color: var(--color-red-50);
  border-radius: 2px;
}
.lint-error.selected {
  background: var(--color-yellow-300) !important;
  color: var(--color-yellow-900) !important;
}
/* .verseRangeDuplicate {
  background: var(--color-yellow-700);
  color: var(--color-yellow-50);
  border-radius: 2px;
}
.verseRangeMalformed {
  background: var(--color-pink-700);
  color: var(--color-pink-50);
  border-radius: 2px;
} */
.nested-editor {
  display: inline-flex;
}
.nested-editor:has(+ .isParaMarker)::after {
  content: "";
}
