# API Configuration
# Language API for searching and importing scripture repositories
# Default: https://api.bibleineverylanguage.org/api/rest/consolidated-repos
VITE_LANGUAGE_API_URL=https://api.bibleineverylanguage.org/api/rest/consolidated-repos
VITE_GITEA_HOST=
VITE_GIT_PROXY_X_REQUESTED_WITH=
