/* [data-marker="id"] {
} */

.verse-number,
[data-marker="v"] {
  font-size: 0.7em;
  font-weight: bold;
  transform: translateY(-5px);
  color: blue;
  padding: 0 2px;
  display: inline-block;
  /* user-select: none; */
}
[data-usfm-type="para"] {
  margin: 0.25em 0;
}
.footnote-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: blue;
  color: white;
  height: 1.1em;
  width: 1.1em;
  font-size: 0.7em;
  border-radius: 999px;
}
.chapter-number,
[data-marker="c"] {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
  /* user-select: none; */
}
[data-category="para"] {
  display: block;
}
[data-marker="p"] {
  display: block;
}
[data-marker="m"] {
  display: none;
}
[data-marker="q1"],
[data-in-para="q1"] {
  font-style: italic;
  margin-inline-start: 0.5em;
}
[data-marker="q2"],
[data-in-para="q2"] {
  font-style: italic;
  margin-inline-start: 1em;
}
[data-marker="f"],
[data-in-para="f"] {
  font-style: italic;
}

.seeMarkers [data-marker]:before {
  content: "\\"attr(data-marker);
  font-size: 0.6em;
  color: #444;
  transform: translateY(-6px);
  margin: 0 3px;
  display: inline-block;
}
.immutable-label {
  display: block;
  color: #222;
}

/* see empty para markers */
/* [data-lexical-node="usfm-text"]:empty::before,
[data-lexical-node="usfm-element"]:empty::before {
  content: "␣";
  color: #aaa;
  font-style: italic;
  opacity: 0.6;
} */
